body
    {
        background-color:powderblue;
    }
    h1
    {
        color: #008CBA; 
    }
    
    .center
    {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 10px;
        width: 50%;
    }
    input[type=button] {
        background-color:#008CBA; /* Green */
        border: 2px solid black;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        border-radius: 12px;
        margin: 5px;
        display: inline-block;
        font-size: 16px;
        }
        input[type=button]:hover {
        background-color: black; 
        color: white;
        }
        input[type=text] {
            text-align: center;
            font-size: 16px;
            padding: 15px 32px;
            width: 20%;
            color: white;
            background-color:black;
            border: black;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            }
        input[type=text]:focus {
            width: 30%;
            }